@import '../../../mixins.scss';

.react-select-container {
    &.genreDD {
        width: 100%;
        @include md {
            max-width: 450px;
            min-width: 250px;
        }
    }
    &.sortByDD {
        width: 100%;
        @include md {
            max-width: 450px;
            min-width: 250px;
        }
    }
    .react-select__control {
        border: 0;
        outline: 0;
        box-shadow: none;
        background-color: var(--black-light);
        border-radius: 20px;
        .react-select__value-container {
            overflow: hidden;
            .react-select__placeholder,
            .react-select__input-conteiner {
                color: white;
                margin: 0 20px;
            }
        }
        .react-select__single-value {
            color: white;
        }
        .react-select__multi-value {
            background-color: var(--black3);
            border-radius: 10px;
            .react-select__multi-value__label {
                color: white;
            }
            .react-select__multi-value__remove {
                background-color: transparent;
                color: white;
                cursor: pointer;
                &:hover {
                    color: var(--black-light);
                }
            }
        }
    }
    .react-select__menu {
        top: 40px;
        margin: 0;
        padding: 0;
    }
}